header {
    background-image: url("../img/header-background.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.content-wrapper {
    margin: 20px auto 0 auto !important;
    width: 80%;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none !important;
}
.navbar-default {
    padding-top: 8px;
    background-color: transparent !important;
    border: none !important;
}
.nav li a {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #262626 !important;
    font-size: 18px;
}
.nav li a:hover {
    color: #ff6033 !important;
}
.active::before {
    content: '';
    position: absolute;
    width: calc(100% - 30px);
    height: 4px;
    border-radius: 4px;
    background-color: #ff6033;
    top: 0;
    left: 15px;
}
.navbar-header {
    margin-top: -50px;
}
.icon-bar {
    background-color: #fff !important;
}
.navbar-toggle {
    background-color: #ff6033 !important;
    border: none !important;
}
.banner-heading {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    color: #262626 !important;
    font-size: 62px;
    padding-top: 200px;
}
.banner-paragraph {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: #262626 !important;
    font-size: 17px;
    max-width: 392px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.banner-button {
    font-family: 'Raleway', sans-serif;
    background-color: #ff6033 !important;
    padding: 10px 28px;
    font-size: 20px;
    color: #fff;
    font-weight: 300;
    box-shadow: rgba(48, 48, 48, 0.6) 0px 2px 8px 0px;
    border: none !important;
    margin-bottom: 28%;
}
@media only screen and (max-width: 992px) {

    .content-wrapper {
        width: 100%;
    }
}
@media only screen and (max-width: 768px) {
    .banner-heading {
        padding-top: 40px;
    }
    .banner-paragraph {
        max-width: 222px;
    }
}